@{
    ViewBag.Title = "Home Page";
}
<div class="container-fluid" style="margin-top: 50px;">
    <div class="h2" style="color:white;text-align:center;">
        <div class="row">
            <img src="content/imgs/logoMym_ver4Blanco.fw.png" alt="mym empresa" class="img-responsive" style="margin:auto;" />
        </div>
        <hr />
        <br />
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12" style="color:white;font-size:24px;">
            <h1>Soluciones a las TIC's</h1>
            <p class="texto-centrado">
                ¿Cuántas veces te han quedado mal consultores a tus proyectos en TI?,
                siempre te prometen tiempos exageradamente cortos y unos precios exorbitantes.
                Nosotros no te prometemos, te ayudamos a tomar un camino que de una solución
                eficiente a lo que tu necesitas y por ende, lo realizamos.
            </p>
            <p class="texto-centrado">
                En MyM Soluciones en TI, proponemos soluciones con metodologías y estándares ajustadas
                a lo que solicitas, es decir, tu nos dices que requieres y en cuanto tiempo lo requieres
                y nosotros te hacemos un plan conforme a lo que nos planteas.
            </p>
            <br />
            <br />
            <br />
        </div>
    </div>
</div>
<section class="section-desktopimg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="panel-dark">
                    <p class="texto-centrado texto-grande">
                        <i class="fa fa-desktop fa-5x fa-pull-left fa border"></i>
                        En <strong>MyM Soluciones en TI</strong>,
                        te ofrecemos servicios para todo tipo de plataforma y tecnología,
                        además garantizamos la calidad de los servicios o simplemente te
                        devolvemos tu dinero.
                    </p>
                    <p class="texto-centrado texto-grande">
                        <i class="fa fa-cloud fa-5x fa-pull-left fa border"></i>
                        Además, ofrecemos capacitación para el uso de las herramientas
                        que se desarrollan o alguna en especifico que tu requieras.
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6"></div>
        </div>
    </div>
</section>
<section class="section-lightBlue"></section>
<section class="section-white"></section>