<!DOCTYPE html>
<html>
<head>
    <title> MyM soluciones en TI con ISC </title>
    <meta name="description" content="información,mym-isc soluciones en TI">
    <meta name="author" content="Mauro Etzael Henaro Sánchez; María Magdalena Camarillo Juárez;">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shorcut icon" href="~/Content/imgs/favicon.ico" type="image/x-icon" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery", 
                    "~/bundles/jqueryval", 
                    "~/bundles/modernizr", 
                    "~/bundles/bootstrap",
                    "~/bundles/unobtrusive",
                    "~/bundles/mym")
</head>
<body>
    @RenderBody()
</body>
</html>
